
.header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.editor {
    flex: 1;
    text-align: center;
    margin: 5px;
    color: red;
}

.preview {
    flex: 1;
    text-align: center;
    margin: 5px;
    color: green;
}

.input {
    width: 45vw;
    min-height: 400px;
    margin-right: 5px;
    border: solid;
}

.output {
    width: 47vw;
    border: 2px solid black;
    height: 400px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

.output img {
    max-width: 100%;
}